<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183797238365-eb7i6otq7fkiqpe5u22tbf3836j22is0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183797238365-eb7i6otq7fkiqpe5u22tbf3836j22is0</string>
	<key>API_KEY</key>
	<string>AIzaSyAHXm_mOxVkxacKVeKPiImEMUmUuDEir68</string>
	<key>GCM_SENDER_ID</key>
	<string>183797238365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LiftOnUp</string>
	<key>PROJECT_ID</key>
	<string>liftonup-f9944</string>
	<key>STORAGE_BUCKET</key>
	<string>liftonup-f9944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183797238365:ios:c0ca5bf3302abe8522dbb4</string>
</dict>
</plist>